<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Velkommen til <%= title %> sin hjemmeside!</p>

    <h2>Representerer du en <b>Bedrift</b> eller <b>Enkeltperson</b>?</h2>
    <div class="cards container">
      <a href="/bedrift" class="card link">
        <img src="/images/bedrift.svg" height="100" width="100" alt="Bedrift">
      </a>

      <a href="/person" class="card link">
        <img src="/images/person.svg" height="100" width="100" alt="Person"/>
      </a>


    </div>
  </body>
</html>
